name: Deploy Django App

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: dshmmd
        password: ${{ secrets.GHCR_PAT }}

    - name: Build and push Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository }}/django:${{ github.sha }} .
        docker push ghcr.io/${{ github.repository }}/django:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
    - name: SSH to VPS and deploy the container
      uses: appleboy/ssh-action@v0.1.11
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          docker pull ghcr.io/${{ github.repository }}/django:${{ github.sha }}
          docker stop django-container || true
          docker rm django-container || true
          docker run -d \
            --name django-container \
            -e SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }} \
            -e DEBUG=${{ secrets.DJANGO_DEBUG }} \
            -e ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }} \
            -e DB_NAME=${{ secrets.DB_NAME }} \
            -e DB_USER=${{ secrets.DB_USER }} \
            -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            -e DB_HOST=${{ secrets.DB_HOST }} \
            -e DB_PORT=${{ secrets.DB_PORT }} \
            -p 8000:8000 \
            ghcr.io/${{ github.repository }}/django:${{ github.sha }}